<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartApp.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChartApp.Properties.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChartApp.Properties.AppSettings>
            <setting name="Amplitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>1</value>
            </setting>
        </ChartApp.Properties.AppSettings>
        <ChartApp.Properties.AppSetting>
            <setting name="Amplitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowTime" serializeAs="String">
                <value>1</value>
            </setting>
        </ChartApp.Properties.AppSetting>
    </userSettings>
</configuration>